{% extends "layout.html" %}
{% block body %}
{% load mathfilters %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

<!-- Autocomplete -->
<script>
$( function() {
    var Cities = [
    "Hanoi",
    "Ho Chi Minh City",
    "Hai Phong",
    "Can Tho",
    "Da Nang",
    "Hue",
    "Nha Trang",
    "Hoi An",
    "Bien Hoa",
    "Vung Tau",
    "Bac Ninh",
    "Bac Giang",
    "Bac Kan",
    "Ben Tre",
    "Buon Ma Thuot",
    "Ca Mau",
    "Cam Pha",
    "Cao Bang",
    "Cao Lanh",
    "Chau Doc",
    "Chi Linh",
    "Di An",
    "Da Lat",
    "Dien Bien Phu",
    "Dong Ha",
    "Dong Hoi",
    "Dong Xoai",
    "Gia Nghia",
    "Ha Giang",
    "Ha Tien",
    "Ha Tinh",
    "Ha Long",
    "Hai Duong",
    "Hoa Binh",
    "Hung Yen"
];

    $( "#origin" ).autocomplete({
      source: Cities
    });
    $( "#destination" ).autocomplete({
        source: Cities
    });
} );
</script>
<div class="trip_page">
<div class="search-box">
    <h1>Find Your Trip!</h1>
    <form action="{% url 'qlxk:index'%}" method="POST">
        {% csrf_token %}
        <input type="text" id="origin" name="origin" placeholder="Nơi đi" required>
        <input type="text" id="destination" name="destination" placeholder="Nơi đến" required>
        <input type="date" name="date">
        <input type="submit" value="Tìm kiếm">
    </form>
</div>
<div class="trip_table">
    <table>
        <tr>
            <th>
                Xuất phát
            </th>
            <th>
                Điểm đến
            </th>
            <th>
                Ngày
            </th>
            <th>
                Giờ
            </th>
            <th>
                Loại xe
            </th>
            <th>
                Giá vé
            </th>
            <th>
                Chỗ ngồi
            </th>
            <th>Chi tiết</th>
        </tr>
        </form>
        {% if not xes%}
        <tr>
            <td colspan="8">Không có chuyến xe phù hợp</td>
        </tr>
        {%else%}
        {% for xe in xes%}
        <tr>
            <td>
                {{xe.origin}}
            </td>
            <td>
                {{xe.destination}}
            </td>
            <td>
                {{xe.chuyenxe_date|date:"d/m/Y"}}
            </td>
            <td>
                {{xe.start_time|date:"G:i"}}-{{xe.arrive_time|date:"G:i"}}
            </td>
            <td>
                {{xe.bien_so.xe_name}}
            </td>
            <td>
                {{xe.price}}đ
            </td>
            <td>
                {{xe.bien_so.row_number|mul:xe.bien_so.column_number}}
            </td>
            <td>
                <a href="{% url 'qlxk:booking_seats' xe.chuyenxe_id %}">Đặt vé</a>
            </td>
        </tr>
        {% endfor%}

        {%endif%}
    </table>
</div>
</div>
{% endblock %}