{% extends "layout.html" %}
{% block body %}
{% load mathfilters %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

<!-- Autocomplete -->
<script>
$( function() {
    const Cities = [
  "An Giang",
  "Ba Riaư",
  "Vung Tau",
  "Bac Lieu",
  "Bac Kan",
  "Bac Giang",
  "Bac Ninh",
  "Ben Tre",
  "Binh Duong",
  "Binh Dinh",
  "Binh Phuoc",
  "Binh Thuan",
  "Ca Mau",
  "Cao Bang",
  "Can Tho",
  "Da Nang",
  "Dak Lak",
  "Dak Nong",
  "Dien Bien",
  "Dong Nai",
  "Dong Thap",
  "Gia Lai",
  "Ha Giang",
  "Ha Nam",
  "Ha Noi",
  "Ha Tinh",
  "Hai Duong",
  "Hai Phong",
  "Hau Giang",
  "Hoa Binh",
  "Hung Yen",
  "Khanh Hoa",
  "Kien Giang",
  "Kon Tum",
  "Lai Chau",
  "Lam Dong",
  "Lang Son",
  "Lao Cai",
  "Long An",
  "Nam Dinh",
  "Nghe An",
  "Ninh Binh",
  "Ninh Thuan",
  "Phu Tho",
  "Phu Yen",
  "Quang Binh",
  "Quang Nam",
  "Quang Ngai",
  "Quang Ninh",
  "Quang Tri",
  "Soc Trang",
  "Son La",
  "Tay Ninh",
  "Thai Binh",
  "Thai Nguyen",
  "Thanh Hoa",
  "Hue",
  "Tien Giang",
  "Tra Vinh",
  "Tuyen Quang",
  "Vinh Long",
  "Vinh Phuc",
  "Yen Bai",
  "Bac Lieu",
  "Bao Loc",
  "Cam Pha",
  "Cam Ranh",
  "Ho Chi Minh City",
  "Chau Doc",
  "Chi Linh",
  "Di An",
  "Ha Tien",
  "Hoi An",
  "Long Khanh",
  "Mong Cai",
  "Nga Bay",
  "Phu Quoc",
  "Phuc Yen",
  "Sa Dec",
  "Sam Son",
  "Song Cong",
  "Tam Diep",
  "Tuan Yen",
  "Thuan An",
  "Uong Bi",


];

    $( "#origin" ).autocomplete({
      source: Cities
    });
    $( "#destination" ).autocomplete({
        source: Cities
    });
} );
</script>


<div class="trip_page">
<div class="search-box">
    <h1>Find Your Trip!</h1>
    <form action="{% url 'qlxk:index'%}" method="POST">
        {% csrf_token %}
        <input type="text" id="origin" name="origin" placeholder="Origin" required>
        <input type="text" id="destination" name="destination" placeholder="Destination" required>
        <input type="date" name="date">
        <input type="submit" value="Search">
    </form>
</div>

{% if has_find%}
<div class="trip_table">
    <table>
        <tr>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Date
            </th>
            <th>
                Travel time
            </th>
            <th>
                Coach Type
            </th>
            <th>
                Price
            </th>
            <th>
                Seat
            </th>
            <th>Booking</th>
        </tr>
        </form>
        {% if not chuyenxes%}
        <tr>
            <td colspan="8">No trips found</td>
        </tr>
        {%else%}
        {% for chuyenxe in chuyenxes%}
        <tr>
            <td>
                {{chuyenxe.origin}}
            </td>
            <td>
                {{chuyenxe.destination}}
            </td>
            <td>
                {{chuyenxe.chuyenxe_date|date:"d/m/Y"}}
            </td>
            <td>
                {{chuyenxe.start_time|date:"G:i"}}-{{chuyenxe.arrive_time|date:"G:i"}}
            </td>
            <td>
                {{chuyenxe.bien_so.xe_name}}
            </td>
            <td>
                {{chuyenxe.price}}đ
            </td>
            <td>
                {{chuyenxe.bien_so.row_number|mul:chuyenxe.bien_so.column_number}}
            </td>
            <td>
                <a href="{% url 'qlxk:booking_seats' chuyenxe.chuyenxe_id %}">Book ticket</a>
            </td>
        </tr>
        {% endfor%}

        {%endif%}
    </table>
</div>
{% endif %}
</div>
{% endblock %}