{% extends "layout.html" %}
{% block body %}
{% load mathfilters %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

<!-- Autocomplete -->
<script>
$( function() {
    var Cities = [
    "Hanoi",
    "Ho Chi Minh City",
    "Hai Phong",
    "Can Tho",
    "Da Nang",
    "Hue",
    "Nha Trang",
    "Hoi An",
    "Bien Hoa",
    "Vung Tau",
    "Bac Ninh",
    "Bac Giang",
    "Bac Kan",
    "Ben Tre",
    "Buon Ma Thuot",
    "Ca Mau",
    "Cam Pha",
    "Cao Bang",
    "Cao Lanh",
    "Chau Doc",
    "Chi Linh",
    "Di An",
    "Da Lat",
    "Dien Bien Phu",
    "Dong Ha",
    "Dong Hoi",
    "Dong Xoai",
    "Gia Nghia",
    "Ha Giang",
    "Ha Tien",
    "Ha Tinh",
    "Ha Long",
    "Hai Duong",
    "Hoa Binh",
    "Hung Yen"
];

    $( "#origin" ).autocomplete({
      source: Cities
    });
    $( "#destination" ).autocomplete({
        source: Cities
    });
} );
</script>


<div class="trip_page">
<div class="search-box">
    <h1>Find Your Trip!</h1>
    <form action="{% url 'qlxk:index'%}" method="POST">
        {% csrf_token %}
        <input type="text" id="origin" name="origin" placeholder="Origin" required>
        <input type="text" id="destination" name="destination" placeholder="Destination" required>
        <input type="date" name="date">
        <input type="submit" value="Search">
    </form>
</div>

{% if has_find%}
<div class="trip_table">
    <table>
        <tr>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Date
            </th>
            <th>
                Travel time
            </th>
            <th>
                Coach Type
            </th>
            <th>
                Price
            </th>
            <th>
                Seat
            </th>
            <th>Booking</th>
        </tr>
        </form>
        {% if not chuyenxe%}
        <tr>
            <td colspan="8">No trips found</td>
        </tr>
        {%else%}
        {% for xe in chuyenxe%}
        <tr>
            <td>
                {{xe.origin}}
            </td>
            <td>
                {{xe.destination}}
            </td>
            <td>
                {{xe.chuyenxe_date|date:"d/m/Y"}}
            </td>
            <td>
                {{xe.start_time|date:"G:i"}}-{{xe.arrive_time|date:"G:i"}}
            </td>
            <td>
                {{xe.bien_so.xe_name}}
            </td>
            <td>
                {{xe.price}}đ
            </td>
            <td>
                {{xe.bien_so.row_number|mul:xe.bien_so.column_number}}
            </td>
            <td>
                <a href="{% url 'qlxk:booking_seats' xe.chuyenxe_id %}">Book ticket</a>
            </td>
        </tr>
        {% endfor%}

        {%endif%}
    </table>
</div>
{% endif %}
</div>
{% endblock %}