{% extends "layout.html"%}
{% block body%}
<div class="login_body">
    <div class="wrapper">
        <h1>Login</h1>
        <form action="{%url 'qlxk:login' %}" method="post">
            {% csrf_token %}
            <div class="input_box">
            {{form.username}}
            </div>
            <div class="input_box">
            {{form.password}}
            </div>
            <div class="input_box">
                {{form.email}}
            </div>
            <div class="input_box">
                {{form.sdt}}
            </div>
            <button type="submit" class="btn">Sign Up</button>
        </form>
        <div class="signUp_link">
            <p>
            Already have an account?
            <a href="{% url 'qlxk:login'%}">Sign In</a>
            </p>
        </div>
        </div>
    </div>
    </div>
    </form>
{% endblock%}