{% extends "layout.html" %}
{% block body %}
{% load mathfilters %}
        <div class="trip_table">
            <h1 style="text-align: center; margin-bottom: 10px;">Your Trips</h1>
        <table>
            <tr>
                <th>
                    <label>From </label>
                </th>
                <th>
                    <label>To </label>
                </th>
                <th>
                    <label>Date </label>
                </th>
                <th>
                    Travel time
                </th>
                <th>
                    Price
                </th>
                <th>
                    Total
                </th>
                <th>
                    Tickets booked
                </th>
                <th>Details</th>
            </tr>
            <!-- If user's have no booked trips -->
            {% if  not chuyenxe_list%}
            <tr><td colspan="8">You have no trip</td></tr>
            {%else%}
            {% for chuyenxe in chuyenxe_list%}
            <tr>
            <td>
                {{chuyenxe.origin}}
            </td>
            <td>
                {{chuyenxe.destination}}
            </td>
            <td>
                {{chuyenxe.chuyenxe_date|date:"d/m/Y"}}
            </td>
            <td>
                {{chuyenxe.start_time|date:"G:i"}}-{{chuyenxe.arrive_time|date:"G:i"}}
            </td>
            <td>
                {{chuyenxe.price}}đ
            </td>
            <td>
                {% widthratio chuyenxe.price 1 chuyenxe.ticket_count%}đ   <!-- total = price.ticket_count -->
            </td>
            <td>
                {{chuyenxe.ticket_count}} Tickets
            </td>
            <td>
                <a href="{% url 'qlxk:booking_seats' chuyenxe.chuyenxe_id %}">Details</a>
            </td>
            </tr>
            {% endfor%}
           
            {%endif%}
        </table>
    </div>
{%endblock%}